@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: Formula1-Bold;
    src: url(./Formula1-Bold.ttf);
}
@font-face {
    font-family: Formula1-Regular;
    src: url(./Formula1-Regular.ttf);
}

body {
    font-family: 'Titillium Web', sans serif; 
    
}

h1, h2, h3, main, div {
    padding-left: 20px;
}

h1 {
    display: flex;
    align-items: center;
    font-family: Formula1-Bold;
    background-color: rgb(247,31,21);
    width: 100%;
    color: white;
    margin-top: 0;
    height: 75px;

}

h2, .parameters {
    font-family: Formula1-Regular;
}


table, thead, tbody, th, td {
    border-style: solid;
    padding: 2px;
    font-size: 16px;
    text-align: center;
}

th, td {
    padding-left: 15px;
    padding-right: 15px;
}

.green {
    background-color: rgba(66, 176, 38, 0.35);
}

.red {
    background-color: rgba(255, 0, 0, 0.41);
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(247,31,21);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
  
  /* Links inside the dropdown */
  .dropdown-content li {
    font-family: 'Titillium Web', sans serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content li:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}